#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background: url(../img/headers.jpg) center center no-repeat;
}
.sale {
  background: url(../img/hot-tours.jpg) center center no-repeat;
  background-size: cover;
}

.chek {
  background: url(../img/chek.png) top left no-repeat;
  padding-left: 40px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

